@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy UltraLight';
    src: url('../public/fonts/Gilroy/Gilroy-UltraLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Thin';
    src: url('../public/fonts/Gilroy/Gilroy-Thin.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../public/fonts/Gilroy/Gilroy-Light.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../public/fonts/Gilroy/Gilroy-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('../public/fonts/Gilroy/Gilroy-Medium.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy SemiBold';
    src: url('../public/fonts/Gilroy/Gilroy-SemiBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../public/fonts/Gilroy/Gilroy-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../public/fonts/Gilroy/Gilroy-ExtraBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Heavy';
    src: url('../public/fonts/Gilroy/Gilroy-Heavy.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Black';
    src: url('../public/fonts/Gilroy/Gilroy-Black.ttf');
    font-style: normal;
}
